[azurebatch]
tenant_id = ${tenant_id}
client_id = ${client_id}
client_secret = ${client_secret}
batch_account_url = ${batch_account_url}
batch_account_domain = ${batch_account_domain}
storage_account_name = ${storage_account_name}
storage_account_domain = ${storage_account_domain}
pool_id = ${pool_id}
retries = ${retries}
base_image_uri = ${base_image_uri}
