[azurebatch]
tenant_id = ${tenant_id}
client_id = ${client_id}
batch_account_url = ${batch_account_url}
batch_account_domain = ${batch_account_domain}
storage_account_name = ${storage_account_name}
storage_account_domain = ${storage_account_domain}
pool_id = ${storage_account_domain}
retries = ${retries}
